:root {
	--main-bg-color: #f3e6d0;
}

body {
	background-color: var(--main-bg-color);
}

.gatsby-highlight {
	background: #fafafa;
	border-radius: 10px;
	border: 5px solid #e0d6c4;
	margin-bottom: 50px;
}
